
.container{
	width: 80%;
	margin: 0 auto;
	padding: 1%;
	text-align: center;
}

.img-responsive{
	width: 100%;
}

.img-curve{
	border-radius: 2rem;
}

.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-white{
	color: wheat;
}


.clearfix{
	clear: both;
	float: none;
}

a{
	color: black;
	text-decoration: none;
	display: inline-flex;
	
}

a:hover{
	color: darkgoldenrod;
}

.food-search{
	background-image: url(none);
}






.order .row{
	padding: 2rem;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
	background: wheat;
	display: flex;
	gap: 1.5rem;
	border-radius: .5rem;
}

.order .heading{
	text-align: center;
	color: greenyellow;
}

.order .row .image{
	flex: 1 1 30rem;

}

.order .row .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 1.5rem;
}

.order .row form{
	flex: 1 1 50rem;
	padding: 1rem;

}

.order .row form .inputBox{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.order .row form .inputBox input, .order .row form textarea{
	padding: 1rem;
	margin: 1rem 0;
	font-size: 1rem;
	color: #333;
	text-transform: none;
	border: .2rem solid wheat;
	width: 49%;
}
.order .row form textarea{
	width: 100%;
	resize: none;
	height: 15rem;
}

.order .row form .btn{
	background: plum;
	border-radius: .5rem;
	font-size: 1rem;
	cursor: pointer;
}

/* .order .row form .btn:hover{
	background: var(gold);
} */

input .btn:hover{
	color: black;
}

.footer{
	background: darkgrey;
	text-align: center;
}
.footer .share a{
	display:flex;
	gap: 1.5rem;
	justify-content: center;
	display: inline-flex;
	text-decoration: none;
	text-transform: uppercase;
	padding: 2rem;
	
}

.footer .credit{
	padding: 2.5rem 1rem;
	color: black;
	font-weight: normal;
	font-size: 1.2rem;
}





#scroll-top{
	position: fixed;
	top: -120%;
	right: 2rem;
	padding: .5rem 1.5rem;
	font-size: 4rem;
	color: palegreen;
	border-radius: .5rem;
	transition: 1s linear;
	z-index: 1000;
}
#scroll-top.active{
	top: calc(100% - 12rem);
}

